:root {
  --primary-font: "Nunito", sans-serif;
  --secondary-font: "Alegreya", serif;
  --secondary-color: #272142;
}

body {
  font-family: var(--primary-font);
  text-align: center;
}

h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 98px;
}

h2 {
  font-size: 28px;
  font-family: var(--secondary-font);
  font-weight: 500;
  line-height: 35px;
}

.hero-section {
  margin-top: 135px;
  background-image: url("images/overlay.png");
  padding: 58px;
  color: white;
  width: 1440px;
  height: 265px;
  object-fit: cover;
}

.container img {
  width: 560px;
  height: 350px;
  object-fit: cover;
  border-radius: 12px;
}
.container h3 {
  text-align: left;
  font-size: 28px;
  line-height: 38px;
  font-weight: 700;
  color: var(--secondary-color);
}

.second-column {
  position: relative;
}

@media (max-width: 768px) {
  .hero-section {
    width: 100%;
  }
  .hero-section h1 {
    font-size: 36px;
    line-height: 1.2;
  }
  .hero-section h2 {
    font-size: 18px;
    line-height: 1;
  }
}
